<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <h1>Fill in the details</h1>
    <form action="/" method="POST">
        <input type="text" name="name" id="name" placeholder="Name"><br><br>
        <input type="text" name="email" id="email" placeholder="Email"><br><br>
        <input type="number" name="number" id="number" placeholder="Phone"><br><br>
        <input type="submit" value="Send"></form>
    </form>
    
</body>
</html>